<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matcha</title>
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   
</head>
<body style ="background: url(../images/bg.png)">
<header style="background: black;">
    <section class="section" style="background: black;">
        <div class="container">
            <a href="/">
                <h1 class="title" style="font-weight:200;color:white; text-align: center;">Matcha</h1>
                <p class="subtitle" style="color:#fff; text-align: center; padding-bottom: 2em;">Find love here!</p>
            </a>
<a href="/profile-page"><button  class="button is-info" style="margin-bottom:2em; background-color:#828afc;color:#fff; margin-left:1.5em">Go Back</button><a></a></a>

    <a href="/"><button  class="button is-info" style="margin-bottom:2em; background-color:#828afc;color:#fff; margin-left:1.5em">Sign Out</button><a></a></a>
      </section>
    <hr style="color:#fff;">
 
</header>

<div  class="wrapper" style="background: url(../images/bg.png);text-align: center">
    <h1 style="color: #fff;font-weight: 700;font-size: 3em;">Change Location</h1>
    <br>
    <hr>
<form action="/changeLocation" method="POST">

     
        
        <div class="field"><label class="label" style="color:white;"> City</label>
            <div class="control">
                <input class="input" type="text" name="city" placeholder="City"><br><br>
            </div>
        </div>
        <div class="field"><label class="label" style="color:white;"> Postal Code</label>
            <div class="control">
                <input class="input" type="text" name="postal"placeholder="Postal Code" ><br><br>
            </div>
        </div>
    <div class="field is-grouped">
        <button class="btn btn-primary btn-block" type="submit" name="submit">Change Location</button>
    </div>
</div>
  </form>
</body>
<footer class="footer" style="background: url(../images/menu.png);">
    <div class="content has-text-centered">
        <p style="color:white;"><strong style="color:white;">Matcha</strong> by J.T.A.B <a href="https://github.com/BrandonSwanepoel/Matcha"></a></p>
    </div>
</footer>