<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Matcha</title>
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

</head>



<body style ="background: url(../images/bg.png)">
    <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/home">
                <img src="/images/h.png" width="50" height="28">
              </a>
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"  data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a href="/profile-page" class="navbar-item">
                  Profile
                </a>
              </div>
            </div>
            
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a href="/" class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>

          
<div  class="wrapper" >

    <div class="row">
        <div class="col-md-6 m-auto">

<h1 class="text-center display-4 my-4">Upload Image</h1>
<form action="/gallery" method="POST" enctype="multipart/form-data">
    <div class=>
       
        <input type="file"  style="color:#fff" name="photo" id="photo"accept="image/*" >
        <label for="photo" style="color:#fff">
            Choose File
        </label>
    </div>
    
  
    <input type="submit" value="Submit" class="btn btn-primary btn-block">
</form>
<hr>

        </div>
  
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<footer class="footer" style="background: url(../images/menu.png);">
    <div class="content has-text-centered">
        <p style="color:white;"><strong style="color:white;">Matcha</strong> by J.T.A.B <a href="https://github.com/BrandonSwanepoel/Matcha"></a></p>
    </div>
</footer>
</body>
