<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matcha</title>
    <link rel="stylesheet" href="http://localhost:8080/layout/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body style="background: url(../images/bg.png); " >
    <header style="background: url(../images/menu.png)">
        <section class="section">
            <div class="container">
                <h1 style="font-weight:200;color:white; text-align: center"class="title">
                    Matcha
                </h1>
                <p style="color:#fff; text-align: center" class ="subtitle">
                    Find love here!
                </p>
            </div>
            <a href="/register"><button style="color:#fff"id="button">Register</button><a>
        </section>
        <hr style="color:#fff"/>
    </header>

    <div class="wrapper">
        <h1 style="font-weight:200;font-size:45px;">Welcome</h1>
        
         <!-- login -->
         <div class="login-page">
        <div class="field">
                <h1 style="font-weight:200; font-size:30px; margin-bottom: 1em;">Login</h1>
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
                </span>
            </p>
            </div>
            <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
                </span>
            </p>
            </div>
            <div class="field">
            <p class="control">
                <button class="button is-success">
                Login
                </button>
            </p>
                </div>
                </div>
            </div>
            </section>
        </div>
        
    <footer style = "background: url(images/menu.png)" class="footer">
        <div class="content has-text-centered">
        <p style="color:white;">
            <strong style="color:white;">Matcha</strong> by J.T.A.B <a href="https://github.com/BrandonSwanepoel/Matcha"></a>
        </p>
        </div>
    </footer>
  </body>
</html>