<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Matcha</title>
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer="" src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<!--Popup Javascript-->
    <script type="text/javascript">
     
          function toggle_visibility(id) {
             var e = document.getElementById(id);
             if(e.style.display == 'block')
                e.style.display = 'none';
             else
                e.style.display = 'block';
          }
     
      </script>
      <style>
      .images{
          width: 30%;
         
         
         
      }
      </style>
</head>
<body style ="background: url(../images/bg.png)">
    
<header style="background: black;">
    <section class="section" style="background: black;">
        <div class="container">
            <a href="/">
                <h1 class="title" style="font-weight:200;color:white; text-align: center;">Matcha</h1>
                <p class="subtitle" style="color:#fff; text-align: center;">Find love here!</p>
            </a>
        </div><a href="/"><button id="button" style="background-color:#828afc;color:#fff;margin:1.5em">Sign Out</button><a></a>
<a href="/image-upload"><button id="button" style="background-color:#828afc;color:#fff;margin-left:1.5em">Upload Image</button><a></a>
<a href="/profile"><button id="button" style="background-color:#828afc;color:#fff;">Edit Profile</button><a></a></a>


      </section>
    <hr style="color:#fff;">
 
</header>
<div  class="wrapper" style="background: url(../images/bg.png)">
<div class="profile-img">
        <figure><img class="is-rounded" src="../images/profile_image_holder.png"></figure>
    </div>
    <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">


<% if(files){%>
<% files.forEach(function(file) {%>
<% if(file.filename === username+"1" || file.filename === username+"2" || file.filename === username+"3" || file.filename === username+"4"){%>
        <% if(file.isImage) {%>
            <img class="images"src="image/<%=file.filename %>" >
            <% } else {%>
                <%= file.filename %>
                <% } %>
    
                
    <% }}) %>
    <%} else {%>
        <p>No files to show</p>
    <% } %>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       
</body>
<footer class="footer" style="background: url(../images/menu.png);">
    <div class="content has-text-centered">
        <p style="color:white;"><strong style="color:white;">Matcha</strong> by J.T.A.B <a href="https://github.com/BrandonSwanepoel/Matcha"></a></p>
    </div>
</footer>