
body{
    margin:auto;
    height:85.4em;
}
footer{
    float:bottom;
}
h1{
    text-align: center;
    font: bolder;
    color:white;
    font-weight:bolder;

}
.wrapper{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
    margin-top: 4em;
    background: url("../images/bg.png");
    height:auto;

}
.profile-img{
    margin-top:2em;
    margin-bottom:2em;
    justify-content: center;
    border-radius: 50%;
    display: flex;
}
.login-page{
    margin-top: 5em;
}
.register-button{
    float:right;
    width: 10em;
    height: 2em;
    margin-top:3em;
}
.register-button a hover{
    color:green;
    background:green;
}

#button{
    color:black;
    background-color: #828afc;
    padding: 0px 18px;
    border:none;
    font-size: 14px;
    margin-top:10px;
    float:right;
    width: 10em;
    height: 2em;
    margin-top:1.5em;
}
button :hover{
    background-color: #009f8b;
    color: #fff;
}
.pick_user_button{
    margin-top:2em;
    margin-bottom:2em;
    justify-content: center;
    display: flex;
}
@media screen and (max-width: 40rem) {
    .profile-img{
        margin-top:2em;
        margin-bottom:2em;
        justify-content: center;
        border-radius: 50%;
        display: flex;
    }
}
.popup-position{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, 0,7);
    width: 100%;
    height: 100%;
}
#popup-wrapper{
    width: 500px;
    margin: 70px auto;
    text-align: left;
}
#popup-container{
    background-color: #fff;
    padding:20px;
    border-radius: 4px;
}
#wrapper_popup{
    width: 960px;
    margin: 40px auto;
    text-align: left;
}
.boxed {
    border: 1px solid green ;
  } 